.header {
  padding-top: 56px;
  background-image: url("../img/Home.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media screen and (max-width: 782px) {
  .header {
    padding-top: 0px;
  }
}

.header .nav__brand {
  margin: 20px 0;
}

.header .nav__item {
  font-size: 18px;
  font-family: "Montserrat";
  text-align: right;
  color: #fff;
  padding: 5px 10px;
  margin: 10px;
  border: 2px solid transparent;
  border-radius: 50px;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.header .nav__item:hover {
  border-color: #5c7cc7;
}

.header .nav__link {
  display: block;
  padding: .5rem 1rem;
  color: #fff;
}

.header .nav__link:hover {
  text-decoration: none;
}

.header .slogan {
  margin-top: 20vh;
}

@media screen and (max-width: 782px) {
  .header .slogan {
    margin-top: 50px;
  }
}

.header .slogan .slogan__p {
  font-size: 20px;
  color: #72B2f2;
  line-height: 3;
}

.header .slogan .slogan__btn {
  font-size: 18px;
  color: #fff;
  border: 0;
  text-align: left;
  margin-right: 10px;
  padding: 15px 30px;
  background-color: #6166ED;
  margin-bottom: 100px;
  cursor: pointer;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.header .slogan .slogan__btn:hover {
  background-color: #302D64;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .header .slogan .slogan__btn {
    margin-right: auto;
  }
}

@media screen and (max-width: 480px) {
  .header .slogan .slogan__btn {
    margin-bottom: 20px;
  }
}

.header .header__brandLogo {
  margin: 20px;
  margin-bottom: 50px;
}

.header .header__brandLogo:first-child {
  margin-left: 0;
}

.header .header__brandLogo:last-child {
  margin-right: 0;
}
