.header {
  padding-top: 56px;
}

.header .header__homepage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header .nav__item {
  font-size: 18px;
  font-family: "Montserrat";
  text-align: right;
  color: #fff;
  padding: 5px 10px;
  margin: 10px;
  border: 2px solid transparent;
  border-radius: 50px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.header .nav__item:hover {
  border-color: #5c7cc7;
}

.header .nav__link {
  display: block;
  padding: .5rem 1rem;
  color: #fff;
}

.header .nav__link:hover {
  text-decoration: none;
}
