.section1 {
  padding: 100px 0;
}

.section1__img {
  width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.section1__p {
  font-size: 16px;
  line-height: 1.875;
  color: #333336;
}

.section2 {
  padding: 80px 0;
}

.section2__item {
  width: 22%;
  padding: 35px;
  -webkit-box-shadow: 0px 0px 15px 10px #f0f0f7;
          box-shadow: 0px 0px 15px 10px #f0f0f7;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  position: relative;
}

.section2__item:last-child {
  margin-right: 0;
}

.section2__item:hover {
  -webkit-box-shadow: 0px 0px 15px 10px #d8d8de;
          box-shadow: 0px 0px 15px 10px #d8d8de;
}

@media screen and (max-width: 992px) {
  .section2__item {
    width: 44%;
  }
}

@media screen and (max-width: 576px) {
  .section2__item {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}

.section2__img {
  margin-bottom: 35px;
}

.section2__p {
  font-size: 16px;
  color: #1617AC;
  line-height: 1.5;
  margin-bottom: 50px;
}

.section2__btn {
  font-size: 16px;
  color: #fff;
  line-height: 1.875;
  width: 100%;
  background-color: #17479E;
  position: absolute;
  cursor: pointer;
  text-align: center;
  height: 55px;
  line-height: 55px;
  border: none;
  bottom: 0;
  left: 0;
}

.section2__btn:hover {
  text-decoration: none;
  color: #fff;
}

.technology {
  background-color: #f0f0f0;
}

.technology:last-child {
  background-color: #fff;
}
