.header {
  padding-top: 56px;
  .header__homepage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
  }
  .nav__item {
    font-size: 18px;
    font-family: "Montserrat";
    text-align: right;
    color: #fff;
    padding: 5px 10px;
    margin: 10px;
    border: 2px solid transparent;
    border-radius: 50px;
    transition-duration: 500ms;
    &:hover{
      border-color: #5c7cc7;
    }
  }
  .nav__link {
    display: block;
    padding: .5rem 1rem;
    color: #fff;
    &:hover {
      text-decoration: none;
    }
  }
}

